body {
  background-color: blue;
}

.container{
  display:flex;
  gap:150px;
}

button {
  width:550px;
  padding: 45px 45px;
  font-size: 25px;
  cursor: pointer;
  border-color: pink;
  border-radius: 50px;
  border-width: 10px;
  background-color: palegoldenrod;
  color: #b3c5ff;
  text-align: center;
}

button:hover {
  background-color: rgb(184, 196, 142, 0.9);
  color:#7a89b8;
  border-color: pink;
}